<div class="container">
    <h1>Update transit type: {{transit_type.transit_type}}</h1>
    <form id="update-transit_type" action="/transit_type" method="post">
        Name:<br>
        <input class="form-control" type="text" name="transit_type" value="{{transit_type.transit_type}}" required><br>
    </form>
    <button onclick="updateTransitType({{transit_type.id}})" class="btn btn-primary">Submit</button>
</div>